$primary: blue;
$shadow: rgb(85, 68, 68);
body{
    display: flex;
    flex-direction: column;
    gap: 20px
}

header {
    display: flex;
    flex-direction: row;
    background-color: $primary;
    color: white;
    justify-content: space-between;
    padding: 18px;
    align-items: center;

    nav{
        ul{
            display: flex;
            flex-direction: row;
            text-size-adjust: inherit;
            gap:28px

        }
    }
}

#Proyectos{
    display: flex;
    flex-direction: row;
    article{
        border: 1px solid $shadow;
        border-radius: 13px;
        box-shadow: 5px 5px $shadow;
        text-align: center;
        padding: 10px;
    }

}
#Sobre Mi{

}

footer{
    background-color: $primary;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}