$primary: blue;
$shadow: rgb(85, 68, 68);

header {
    display: flex;
    flex-direction: row;
    background-color: $primary;
    color: white;
    justify-content: space-between;
    padding: 18px;
    align-items: center;
    nav{
        ul{
            display: flex;
            flex-direction: row;
            text-size-adjust: inherit;
            gap:28px

        }
    }
}

#Proyectos{
    display: flex;
    flex-direction: row;

    article{
        border: 1px solid $shadow;
        box-shadow: 5px 5px $shadow;
    }

}
#Sobre Mi{

}